.about-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-content {
    display: flex;
    position: absolute;
    color: white;
}

.ac-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.ac-left h1 {
    margin: 30px 0;
}

.ac-left p {
    padding: 0 30px;
    flex-wrap: wrap;
    font-size: 22px;
    overflow-y: hidden;
}

.ac-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 100px;
}